.env
# Hardhat artifacts and cache
artifacts/
cache/
node_modules/

# Typechain output
typechain-types/

# Node modules
node_modules/

# OS-specific
.DS_Store
Thumbs.db
# Бинарные файлы
*.jpg
*.jpeg
*.gif
*.jfif
*.rar
*.zip

# Временные файлы
trash/
*.tmp
*.bak

# Скомпилированные контракты
Flattened*.sol

# Дубликаты readme
*readme*
*Readme*

